@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  color-scheme: dark;
  background-color: #222222;
  color: white;
  font-family: 'Inter', sans-serif;
}

#ctl00_panTop, #ctl00_panBottom, #ctl00_cphBody_OrderDetails-12377, #ctl00_cphBody_objRegisterNavigation, #ctl00_cphBody_panUserDetails, #ctl00_cphBody_requiredKeyDiv, #ctl00_cphBody_lblPayment, #ctl00_cphBody_ctl00_cphBody_PayByCreditCard_HeaderLayoutTable, #ctl00_cphBody_ctl00_cphBody_REG_10_HeaderLayoutTable, #ctl00_cphBody_ctl06, #ctl00_cphBody_panEventDetails h2 span, tr:has(#ctl00_cphBody_lblGrandTotal), #ctl00_cphBody_ctl00_cphBody_TermsAndConditions_LayoutTable {
  display: none;
}

#ctl00_objPageBody, #ctl00_panCenter {
  background-color: #222222;
  color: white;
}


.tedx__name {
      -webkit-text-size-adjust: 100%;
    letter-spacing: -.01em;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 320;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    line-height: 1.25;
    white-space: nowrap;
    font-size: 3.4rem;
    box-sizing: border-box;
}

.tedx__logo {
       -webkit-text-size-adjust: 100%;
    letter-spacing: -.025em;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.25;
    white-space: nowrap;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27100%25%27%20height%3D%27100%25%27%20viewBox%3D%270%200%20150%2047%27%3E%3Cg%20fill%3D%27%23FF2B06%27%3E%3Cpath%20d%3D%27M13.909%2012.994h-11.909v-10.892h36.897v10.892h-11.904v31.602h-13.084v-31.602zM40.931%202.102h35.817v10.892h-22.725v5.295h22.725v10.121h-22.725v5.295h22.73v10.891h-35.822v-42.494zM78.953%202.102h21.484c14.16%200%2019.168%2010.475%2019.168%2021.185%200%2013.039-6.904%2021.309-21.725%2021.309h-18.927v-42.494zm13.09%2031.603h5.121c8.156%200%209.348-6.608%209.348-10.6%200-2.673-.836-10.111-10.301-10.111h-4.168v20.711zM138.416%2028.22l-3.992-6.622-3.895%206.622h-9.594l9.107-13.39-8.77-12.809h9.596l3.555%206.332%203.654-6.332h9.594l-8.768%2012.809%209.107%2013.39h-9.594z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 0 60%;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 104%;
    font-weight: 700;
    margin-top: 0;
}